
body {
   margin: 0;
}
nav{
  width: 100%;
  height: 70px;
  background-color: dimgray;
  padding-top: 5px;
  box-sizing: border-box;
}
ul{
  display: flex;
}
li{
  list-style: none;
}
a{
  text-decoration: none; /*urlの下線削除*/
}
.header-nav{
  color: white;
  margin-right: 30px;   /*メニュー間隔*/
}
.contact{
  text-align: center;
}
.nav > li{
  display:inline-block;
	position:relative;
}
.nav li li{
  height: 0;
  overflow: hidden;
  transition: .2s;
}
.nav li:hover > ul > li{
  height: 2rem;
  overflow: visible;
}
.nav li:hover > ul{
  border: 1px solid;
}
.category-menu{
  margin: 0;
  padding: 0;
  position:absolute;
  display: block;
  background: pink;
}